<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>UC Parking Garage Availability</title>
        <link href="css/reset.css" rel="stylesheet" type="text/css">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body>
        <main id="app">
            <div v-for="(campus) in parkingApp">
                <h2>{{ campus.name }}</h2>
                <ul>
                    <li v-for="garage in campus.garages">
                        <div>
                            <small>{{ garage.id }}</small>
                            <p>{{ garage.name }}</p>
                            <a v-for="entrance in garage.entrances" :href="'geo:' + entrance.latitude + ',' + entrance.longitude" target="_blank">{{ entrance.name }}</a>
                        </div>
                        <p>{{ garage.available }}</p>
                    </li>
                </ul>
            </div>
        </main>
        <script src="app/app.js"></script>
    </body>
</html>